#parent{
    margin: 10%;
    padding: 10%;
    border: 2px solid gray;
} 
 img{
    display: inline;
    width: 1em;
    height: 1em;
} 
#email{
    margin-top: 10px;
}
#password{
    margin-top: 10px;
}
#username{
    margin-top: 10px;
}
#logoPic{
    width: 20%;
    height: 20%;
}